---
---

@import "{{ site.theme }}";

.wrapper {
	margin-top: 5px;
}
.site-nav {
	margin-top: -50px;
}
	
@media screen and (max-width: 600px) {
	.site-nav { margin-top: 0px; }
	.wrapper { margin-top: 1px; }
}
