---
---

@import "{{ site.theme }}";

.wrapper {
	margin-top: 5px;
}
.site-header, .site-footer {
	background: repeating-linear-gradient(
	  45deg,
	  #ffffff,
	  #ffffff 10px,
	  #fcfcfc 10px,
	  #fcfcfc 20px
	);
}
.site-nav {
	margin-top: -50px;
}
	
@media screen and (max-width: 600px) {
	.site-nav { margin-top: 0px; }
	.wrapper { margin-top: 1px; }
}

.site-nav .page-link {
	//border-top: 1px #aaa dotted;
	padding:10px;
}

.site-nav .page-link:hover {
	background: #eee;
	//color: white;
	transition: 0.1s;
	text-decoration: none;
}
